<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 ct-chart-line" *ngFor="let produto of produtos">
                <div class="card card-profile">
                    <div class="card-header row card-header-primary">
                        <div class="col-md-3">
                            <img class="" src="{{produto.fornecedor.url_logo}}">
                        </div>
                        <div class="col-md-9">
                            <h6 class="col-md-10 text-left">{{produto.fornecedor.nome}}</h6>
                        </div>
                    </div>

                    <div class="content">
                        <div class="col-md-12 container-image">
                            <img class='imagem-produto' src="{{produto.url_foto}}">
                        </div>
                        <h6 class="category text-gray">Gold / Fornecedor</h6>
                        <div class="nome-produto">
                            <h4 class="card-title paragrafo-produto">{{produto.nome}}</h4>
                        </div>
                        <p class="card-content">
                            Preço: R${{produto.preco}}
                        </p>
                        <div href="#pablo" class="btn btn-success btn-round" (click)="compraProduto(produto.id)">
                            Comprar
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-alert" *ngIf="cardMensagem">
    <div class="card col-md-8">
        <div [attr.class]="mensagem.success == 'Sucesso' ? 'modal-success card-header' : 'modal-danger card-header'">
            {{mensagem.success}}
        </div>
        <div class="card-content">
            <div class="row">
                {{mensagem.msg}}
            </div>
            <div class="card-footer" *ngIf="cardMensagem">
                <button class="btn btn-success pull-right" (click)="blurCardMensagem()">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="sombra-modal" *ngIf="cardMensagem" (click)="blurCardMensagem()">
</div>
