<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 ct-chart-line"   *ngFor="let produto of produtos">
                <div class="card card-profile">
                    <div class="card-header row card-header-primary">
                        <div class="col-md-3">
                            <img class="" src="{{produto.fornecedor.url_logo}}">
                        </div>
                        <div class="col-md-9">
                            <h6 class="col-md-10 text-left">{{produto.fornecedor.nome}}</h6>
                        </div>
                    </div>

                    <div class="content">
                        <img class='col-md-12' src="{{produto.url_foto}}">
                        <h6 class="category text-gray">Gold / Fornecedor</h6>
                        <h4 class="card-title">{{produto.nome}}</h4>
                        <p class="card-content">
                            Preço: R${{produto.preco}}
                        </p>
                        <div href="#pablo" class="btn btn-success btn-round">Comprar</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>