<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Detalhes do Pedido</h4>
                        <p class="category">Essas são as informações do pedido</p>
                    </div>
                    <div class="card-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label class="control-label" for="pedido.id">Código do Pedido</label>
                                        <input type="text" class="form-control" id="pedido.id"
                                               [ngModel]="pedido.id" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label class="control-label" for="nome_fantasia">Nome Loja</label>
                                        <input type="text" class="form-control"
                                               id="nome_fantasia" [ngModel]="pedido.loja.nome_fantasia" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-black">
                                        <label class="control-label">CNPJ</label>
                                        <input type="text" class="form-control"
                                               [ngModel]="pedido.loja.cnpj" disabled>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-avatar">
                                        <a href="#pablo">
                                            <img class="img" src="{{pedido.loja.url_logo}}"/>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label class="control-label">Cep</label>
                                        <input type="text" class="form-control"
                                               [ngModel]="pedido.loja.cep" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label class="control-label">Estado</label>
                                        <input type="text" class="form-control"
                                               [ngModel]="pedido.loja.estado" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label class="control-label">Cidade</label>
                                        <input type="text" class="form-control"
                                               [ngModel]="pedido.loja.cidade" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group form-black">
                                        <label class="control-label">Tipo Logradouro</label>
                                        <input type="text" class="form-control"
                                               [(ngModel)]="pedido.loja.tipo_logradouro" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black">
                                        <label class="control-label">Rua</label>
                                        <input type="text" class="form-control"
                                               [(ngModel)]="pedido.loja.logradouro" disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black">
                                        <label class="control-label">Número</label>
                                        <input type="text" class="form-control"
                                               [(ngModel)]="pedido.loja.numero">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header" data-background-color="red">
                                            <h4 class="title">Produto</h4>
                                        </div>
                                        <div class="card-content table-responsive">
                                            <table class="table">
                                                <thead class="text-danger">
                                                <tr>
                                                    <th></th>
                                                    <th>Produto</th>
                                                    <th class="text-center">Quantidade</th>
                                                    <th>Preço Total</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="col-md-3"><img class='imagem-produto-pedido' src="{{pedido.produto.url_foto}}"></td>
                                                    <td class="col-md-3">{{pedido.produto.nome}}</td>
                                                    <td class="col-md-2 text-center">
                                                        {{pedido.quantidade}}
                                                    </td>
                                                    <td class="col-md-2">R$ {{pedido.valor_total}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div clas="row">
                                <div class="form-group form-black">
                                    <label class="control-label" for="nome_fantasia">Data Criação</label>
                                    <input type="text" class="form-control"
                                           id="data_criacao" [ngModel]="pedido.created_at" disabled>
                                </div>
                                <div class="form-group form-black">
                                    <label class="control-label" for="nome_fantasia">Data Modificação</label>
                                    <input type="text" class="form-control"
                                           id="data_alteração" [ngModel]="pedido.updated_at" disabled>
                                </div>
                            </div>
                            <button *ngIf="!ehLoja && pedido.status == 'PENDENTE'" class="btn btn-success pull-right" (click)="confirmarPedido()">
                                Confirmar
                            </button>
                            <button *ngIf="ehLoja && pedido.status == 'CONFIRMADO'" class="btn btn-success pull-right" (click)="finalizarPedido()">
                                Finalizar
                            </button>
                            <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal" class='modal fade' tabindex="-1" role="dialog" (click)="blurCardMensagem()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div [attr.class]="mensagem.success == 'Sucesso' ? 'modal-success modal-header' : 'modal-danger modal-header'">
                <button type="button" class="close txt-white" data-dismiss="modal" aria-label="Close" (click)="blurCardMensagem()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{mensagem.success}}</h4>
            </div>
            <div class="modal-body">
                <p>{{mensagem.msg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-success" (click)="blurCardMensagem()">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
