<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <button class="btn btn-float-right btn-tranparent" [routerLink]="['/usuario-detalhes',1]" ngModel="usuarioSelecionado = false">
                            <i data-notify="icon" class="material-icons">add</i>
                            CADASTRAR USUÁRIO
                        </button>
                        <h4 class="title">Usuario</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                            <tr>
                                <th>Usuario</th>
                                <th>Nome</th>
                                <th>Tipo</th>
                                <th>Status</th>
                                <th>Acão</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class="col-md-3">{{usuario.usuario}}</td>
                                <td class="col-md-3">{{usuario.nome}}</td>
                                <td class="col-md-2">{{usuario.tipo_usuario}}</td>
                                <td class="col-md-2">{{usuario.status}}</td>
                                <td class="col-md-2">
                                    <button class="btn btn-success btn-xs" (click)="editarUsuario(usuario.id)">
                                        <i data-notify="icon" class="material-icons">edit_mod</i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>