<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <button class="btn btn-float-right btn-tranparent" (click)="goBack()">
                            <i data-notify="icon" class="material-icons">add</i>
                            VOLTAR
                        </button>
                        <h4 class="title">Pedido</h4>
                        <p class="category">Escolha a quantiade de produtos</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                            <tr>
                                <th></th>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="col-md-3"><img class='imagem-produto-pedido' src="{{produto.url_foto}}"></td>
                                <td class="col-md-3">{{produto.nome}}</td>
                                <td class="col-md-2">
                                        <input type="number" [(ngModel)]="pedido.quantidade" (change)="changeValorTotal()"/>
                                </td>
                                <td class="col-md-2">R$ {{pedido.valor_total}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success btn-sm btn-float-right" (click)="salvarPedido()">
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal" class='modal fade' tabindex="-1" role="dialog" (click)="blurCardMensagem()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div [attr.class]="mensagem.success == 'Sucesso' ? 'modal-success modal-header' : 'modal-danger modal-header'">
                <button type="button" class="close txt-white" data-dismiss="modal" aria-label="Close" (click)="blurCardMensagem()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{mensagem.success}}</h4>
            </div>
            <div class="modal-body">
                <p>{{mensagem.msg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-success" (click)="blurCardMensagem()">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->