<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" >
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <button class="btn btn-float-right btn-tranparent" (click)="goBack()">
                            <i data-notify="icon" class="material-icons">add</i>
                            VOLTAR
                        </button>
                        <h4 class="title">Editar Usuário</h4>
                        <p class="category">Complete as informações do usuário</p>
                    </div>
                    <div class="card-content">
                        <form *ngIf="usuario" [formGroup]="formulario" novalidate (ngSubmit)="salvarUsuario(formulario.value, formulario.valid)">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black ">
                                        <label class="control-label" for="nome">Nome</label>
                                        <input type="text" class="form-control"  formControlName="nome" id="nome" [ngModel]="usuario.nome">
                                        <small [hidden]="formulario.controls.nome.valid || (formulario.controls.nome.pristine)" class="text-danger">
                                            Nome inválido (minimo 8 characteres).
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black ">
                                        <label class="control-label">CPF</label>
                                        <input type="text" class="form-control" formControlName="cpf" [ngModel]="usuario.cpf">
                                        <small [hidden]="formulario.controls.cpf.valid || (formulario.controls.cpf.pristine)" class="text-danger">
                                            Cpf inválido (minimum 8 characters).
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black ">
                                        <label class="control-label">Telefone</label>
                                        <input type="text" class="form-control" formControlName="telefone" [ngModel]="usuario.telefone">
                                        <small [hidden]="formulario.controls.telefone.valid || (formulario.controls.telefone.pristine)" class="text-danger">
                                            Telefone inválido (minimum 9 characters).
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black ">
                                        <label class="control-label">Usuario</label>
                                        <input type="text" class="form-control" formControlName="usuario" [ngModel]="usuario.usuario">
                                    </div>
                                    <small [hidden]="formulario.controls.usuario.valid || (formulario.controls.usuario.pristine)" class="text-danger">
                                        Usuário inválido (minimum 9 characters).
                                    </small>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black ">
                                        <label class="control-label">Senha</label>
                                        <input type="password" class="form-control" formControlName="senha" [ngModel]="usuario.senha">
                                        <small [hidden]="formulario.controls.senha.valid || (formulario.controls.senha.pristine)" class="text-danger">
                                            Senha inválida (minimum 8 characters).
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-black ">
                                        <label for="selectStatus" class="control-label">Status</label>
                                        <select class="form-control" id="selectStatus" formControlName="status" [value]="descricaoStatus" >
                                            <option></option>
                                            <option>Ativo</option>
                                            <option>Inativo</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-black ">
                                        <label for="selectTipoUsuario" class="control-label">Área</label>
                                        <select class="form-control" id="selectTipoUsuario" formControlName="id_tipo_usuario">
                                            <option></option>
                                            <option *ngFor="let tipoUsuario of tiposUsuario"  [selected]="tipoUsuario == descricaoTipoUsuario">{{tipoUsuario}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success pull-right" [disabled]="!formulario.valid">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-alert" *ngIf="cardMensagem">
    <div class="card col-md-8">
        <div [attr.class]="mensagem.success == 'Sucesso' ? 'modal-success card-header' : 'modal-danger card-header'">{{mensagem.success}}</div>
        <div class="card-content">
            <div class="row">
                {{mensagem.msg}}
            </div>
            <div class="card-footer" *ngIf="cardMensagem">
                <button class="btn btn-success pull-right" (click)="blurCardMensagem()">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="sombra-modal" *ngIf="cardMensagem" (click)="blurCardMensagem()">

</div>