<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <button class="btn btn-float-right btn-tranparent" (click)="goBack()">
                            <i data-notify="icon" class="material-icons">add</i>
                            VOLTAR
                        </button>
                        <h4 class="title">Editar Usuário</h4>
                        <p class="category">Complete as informações do usuário</p>
                    </div>
                    <div class="card-content">
                        <form *ngIf="usuario" [formGroup]="formulario" novalidate (ngSubmit)="salvarUsuario(formulario.value, formulario.valid)">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label" for="nome">Nome</label>
                                        <input type="text" class="form-control"  formControlName="nome" id="nome" [ngModel]="usuario.nome">
                                        <small [hidden]="formulario.controls.nome.valid || (formulario.controls.nome.pristine)" class="text-danger">
                                            Name is required (minimum 5 characters).
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">CPF</label>
                                        <input type="text" class="form-control" formControlName="cpf" [ngModel]="usuario.cpf">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">Telefone</label>
                                        <input type="text" class="form-control" formControlName="telefone" [ngModel]="usuario.telefone">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">Usuario</label>
                                        <input type="text" class="form-control" formControlName="usuario" [ngModel]="usuario.usuario">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black label-floating">
                                        <label class="control-label">Senha</label>
                                        <input type="password" class="form-control" formControlName="senha" [ngModel]="usuario.senha">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-black label-floating">
                                        <label for="selectTipoUsuario" class="control-label">Área</label>
                                        <select class="form-control" id="selectTipoUsuario">
                                            <option >a</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success pull-right" [disabled]="!formulario.valid">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">-->
            <!--<div class="card card-profile">-->
            <!--<div class="card-avatar">-->
            <!--<a href="#pablo">-->
            <!--<img class="img" src="../assets/img/faces/marc.jpg" />-->
            <!--</a>-->
            <!--</div>-->

            <!--<div class="content">-->
            <!--<h6 class="category text-gray">CEO / Co-Founder</h6>-->
            <!--<h4 class="card-title">Alec Thompson</h4>-->
            <!--<p class="card-content">-->
            <!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
            <!--</p>-->
            <!--<a href="#pablo" class="btn btn-danger btn-round">Follow</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
