<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header logo_dashboard imagem-card-logo">
                            <img src="{{estabelecimento.url_logo}}">
                        </div>
                        <div class="card-content">
                            <p class="category">{{estabelecimento.nome}}</p>
                            <h3 class="title">{{estabelecimento.posicao}}º</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">trending_up</i> <a>{{estabelecimento.nivel}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">stars</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Score</p>
                            <h3 class="title">{{estabelecimento.score}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Ultimas 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Pedidos Pendentes</p>
                            <h3 class="title">{{numPedidosPendentes}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Verifique seus pedidos
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Usuarios</p>
                            <h3 class="title">{{numUsuarios}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i>Verifique seus usuarios
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="green">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Produtos</h4>
                            <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 56%</span> de acrécimo no ultimo mês.</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="orange">
                            <div class="ct-chart" id="emailsSubscriptionChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Pedidos Cocluidos</h4>
                            <p class="category">Ultimos Pedidos concluídos</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> ultimos meses
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="red">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Histórico Score</h4>
                            <p class="category">Last Campaign Performance</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="orange">
                            <h4 class="title">Employees Stats</h4>
                            <p class="category">New employees on 15th September, 2016</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-danger">
                                <tr>
                                    <th>Codigo Pedido</th>
                                    <th>Produto</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let pedido of pedidosPendentes">
                                    <td class="col-md-3">{{pedido.id}}</td>
                                    <td class="col-md-3">{{pedido.produto.nome}}</td>
                                    <td class="col-md-3">{{pedido.valor_total}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Ranking</h4>
                            <p class="category">Veja o ranking</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-danger">
                                <tr>
                                    <th>Posição</th>
                                    <th>Nome</th>
                                    <th>Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let empresa of empresasRankeadas">
                                    <td class="col-md-3">{{empresa.posicao}}</td>
                                    <td class="col-md-3">{{empresa.nome}}</td>
                                    <td class="col-md-3">{{empresa.score}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
