<div class="wrapper">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
    <div class="sidebar" data-color='red' data-image="">
        <sidebar-cmp></sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-3.jpg)"></div>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <dashboard-cmp></dashboard-cmp>
        <div *ngIf="isMaps('/maps')">
            <footer-cmp></footer-cmp>
        </div>
    </div>
</div>
